/*
REGISTRA USUARIO
*/
#subti{
    text-align: center;
    color: #455A64;
}
/*stilo de la tabla de usuario*/
thead{
    background-color: #455A64;
    color: #FFFFFF;
}
/*hover de ta tabla de table-hover cambio de color*/
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #faf2cc;
}
#cambios{
  margin: 0 auto;
  width: 10%;
}
#centrado{
    width: 30%;
    margin: 0 auto;
}
#btnbusca{
    width: 25%;
    margin: 0 auto;

}
#buscador{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#guardaCambios{

  margin: 0 auto;
}
#dispo{
    width: 30%;
}
#tableObjeto{
    width: 30%;
}
#save{
    margin: 0 auto;

}
#modpass{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
#tab-small{
 width: 200px;
}
#Eje{
    width:  300px;
}
#eje{
    width:  300px;
}
#tab-p{
    width: 400px;
}

/*modifica EJE*/
#name_eje{
    width: 40%;
}